// Section counter in landing page
// --------------------------------
#counter {
  padding: 3rem 3rem;
  background: url('../img/bg_section_counter.jpg') center;
  background-size: cover;

  .columns {
    text-align: center;
    padding: 3rem 4rem;
    @include breakpoint(medium only) {
      padding: 0rem;
    }
    @include breakpoint(small only) {
      padding: 0rem;
      margin-top:4rem;
      &:first-child {
        margin-top:2rem;
      }
    }
  }
  .count {
    background-color: rgba(0, 0, 0, 0.35);
    display: inline-block;
    width: 195px;
    height: 195px;
    text-align: center;
    border-radius: 50%;
    padding-top: 59px;
    border: 2px solid white;

    @include breakpoint(medium only) {
      width: 160px;
      height: 160px;
      padding-top: 49px;
    }

    span {
      font-size: 50px;
      color: white;
      font-weight: bold;
      @include breakpoint(medium only) {
        font-size: 40px;
      }
    }
  }
  .info {
    margin-top: 1.5rem;
    font-size: 1.7rem;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
  }
}