// Section header in landing page
// ------------------------------------
.top-bar-title {
  padding: 0.45rem 0.4rem 0.3rem 0.4rem;
  .menu-icon {
    height: 20px;
    margin-right: 0.4rem;
  }
  a {
    color: #f5f5f5;
    font-weight: bold;
  }
  a:hover {
    color: #ffdede;
  }
  .wozek {
    width: auto;
    height: 30px;
    margin-top: -0.8rem;
    margin-bottom: -0.5rem;
    margin-right: 0.5rem;
  }
}

.top-bar-right .menu {
  text-align: center;
  @include breakpoint(small only) {
    padding-top: 1.0rem;
    padding-bottom:1.0rem;
  }
  li {
    display: inline-block;
    *display: inline; /*IE7*/
  }
  a {
    color: #f5f5f5;
    padding-top: 0.7rem;
    padding-bottom: 0.6rem;
    text-align: center;
  }
  a:hover {
    color: #ffdede;
  }
  i {
    font-size: 1.0rem;
    margin-top: -0.2rem;
  }
  @include breakpoint(small only) {
    i {
      margin-bottom: 0.4rem;
      display: block;
    }
  }
}