// Section information in landing page
// -------------------------------------
#information {
  padding: 5rem 3rem;
  border-bottom: 1px solid #d4d4d4;
  div:first-child {
    text-align: center;
    h2 {
      text-transform: uppercase;
    }
    p {
      margin-bottom: 0rem;
      font-size: 0.85rem;
      color: gray;
    }
    hr {
      display: inline-block;
      width: 70px;
      height: 2px;
      background-color: #dedede;
      border: 0;
      margin: 0.2rem auto 0.6rem auto;
    }
  }
  div:nth-child(2) {
    .columns {
      text-align: center;
    }
    .icon {
      text-align: center;
      display: inline-block;
      width: 140px;
      height: 140px;
      border: 10px solid gray;
      border-radius: 50%;
      padding-top: 17px;
      margin-top: 50px;
      i {
        font-size: 60px;
        color: #1d1d1d;
      }
    }
    .icon-1 {
      border-color: #48c7ec;
      i {
        margin-left: 0.2rem;
      }
    }
    .icon-2 {
      border-color: #de54a7;
    }
    .icon-3 {
      border-color: #5cd8c1;
    }
    .icon-4 {
      border-color: #ea9559;
    }

    .info {
      text-transform: uppercase;
      font-weight: bold;
      max-width: 200px;
      margin-top: 1.4rem;
      display: inline-block;
      color: #585858;

      @include breakpoint(medium only) {
        margin-left:1.3rem;
      }
    }
  }
}