<section id="contact" data-magellan-target="contact" data-animation-duration="1000">
    <div class="row">
        <div class="small-12 medium-7 large-6 large-offset-1 columns informations">
            <h2><i class="fi-telephone"></i> Kontakt</h2>
            <h4>Wybierz dogodną formę kontaktu z nami</h4>
            <p class="info_form">Uzupełnij formularz, a my oddzwonimy do Ciebie w dogodnej dla Ciebie porze dnia.</p>
            <div class="row address">
                <div class="small-12 medium-12 large-5 columns">
                    <img src="{{root}}assets/img/logo_sagrol_string.png" height="84" width="400"/>
                    <p class="text-center"><i class="fi-telephone"></i> 501-648-508</p>
                </div>
                <div class="small-12 medium-12 large-7 columns">
                    <p>"SAGROL" Centrum Sadowniczo - Rolnicze w Sandomierzu Golec Janusz</p>
                    <p>ul. Chwałki 50A</p>
                    <p>27-600 Sandomierz</p>
                    <p>Email: <img src="{{root}}assets/img/email.png" height="16" width="109"/></p>
                </div>
            </div>
        </div>
        <div class="small-12 medium-5 large-4 end columns form_send">
            <form id="contactForm" data-abide novalidate>
                <div id="info_error" data-abide-error class="alert callout" style="display: none;">
                    <p><i class="fi-alert"></i> Popraw wszystkie błędy w formularzu.</p>
                </div>
                <div id="email_success" class="success callout" style="display: none;">
                    <p><i class="fi-check"></i> Dziękujemy za przesłanie formularza.</p>
                </div>
                <div id="email_error" class="alert callout" style="display: none;">
                    <p><i class="fi-alert"></i> Nie udało się wysłać formularza.</p>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <h5>Podaj swój numer i oddzwonimy</h5>
                        <hr/>
                    </div>
                    <div class="small-12 columns">
                        <input name="firstName" type="text" placeholder="Imię..." required>
                        <span class="form-error">To pole jest konieczne do uzupełnienia.</span>
                    </div>
                    <div class="small-12 columns">
                        <input name="phone" type="text" placeholder="Telefon..." required>
                        <span class="form-error">To pole jest konieczne do uzupełnienia.</span>
                    </div>
                    <div class="small-12 columns">
                        <select name="hours" id="select" required>
                            <option value="">Godziny kontaktu...</option>
                            <option value="7:00 - 9:00">7:00 - 9:00</option>
                            <option value="9:00 - 12:00">9:00 - 12:00</option>
                            <option value="12:00 - 17:00">12:00 - 17:00</option>
                            <option value="17:00 - 21:00">17:00 - 21:00</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <fieldset class="large-12 columns">
                        <button class="button large expanded" type="submit">Wyślij formularz
                            <img class="loading" src="{{root}}assets/img/loading.gif" style="display:none;"/></button>
                    </fieldset>
                </div>
            </form>
        </div>
    </div>
</section>