<section id="counter" data-magellan-target="counter" data-animation-duration="1000">
    <div class="row">
        <div class="medium-4 columns">
            <div class="count">
                <span id="quantity_clients" data-from="0" data-to="1200"
                data-speed="1200" data-refresh-interval="1">0</span>
                <span>+</span>
            </div>
            <div class="info">klientów kupiło nasze wózki</div>
        </div>
        <div class="medium-4 columns">
            <div class="count">
                <span id="quantity_products" data-from="0" data-to="2000"
                data-speed="1200" data-refresh-interval="1">0</span>
                <span>+</span>
            </div>
            <div class="info">sprzedaliśmy łącznie wózków</div>
        </div>
        <div class="medium-4 columns">
            <div class="count">
                <span id="quantity_years" data-from="0" data-to="10"
                      data-speed="1700" data-refresh-interval="1">0</span>
                <span>+</span>
            </div>
            <div class="info">lat produkujemy wózki</div>
        </div>
    </div>
</section>