<header class="header">
    <div class="top-bar">
        <div class="row column">
            <div class="top-bar-title">
                <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
                    <button class="menu-icon" type="button" data-toggle></button>
                </span>
                <a href="{{root}}"><img class="wozek show-for-medium" src="{{root}}assets/img/wozek_logo.png"/> Wózki sadownicze</a>
            </div>
            <div id="responsive-menu">
                <div class="top-bar-right">
                    <ul class="menu" data-magellan>
                        <li><a href="#information"><i class="fi-page-multiple"></i> Informacje</a></li>
                        <li><a href="#gallery"><i class="fi-photo"></i> Galeria</a></li>
                        <li><a href="#counter"><i class="fi-torsos-all-female"></i> Liczby</a></li>
                        <li><a href="#contact"><i class="fi-telephone"></i> Kontakt</a></li>
                        <li><a href="#mapa"><i class="fi-map"></i> Mapa</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="homepage">
        <div class="row">
            <div class="small-12 medium-5 medium-offset-1 large-5 large-offset-1 columns">
                <h1>Wózki <br/>sadownicze</h1>
                <h2>Producent wózków sadowniczych, <br/>wspierający sadownictwo od 2006 roku.</h2>
                <div class="button-header" data-magellan>
                    <a class="button large" href="#contact"><i class="fi-telephone"></i> Kontakt</a></a>
                </div>
            </div>
            <div class="small-12 medium-6 large-6 columns">
                <img class="wozek-large" src="{{root}}assets/img/wozek.png"/>
            </div>
        </div>
    </div>
</header>