<section id="information" data-magellan-target="information" data-animation-duration="1000">
    <div class="row">
        <h3>Jesteśmy producentem</h3>
        <p class="text-center"><hr/></p>
        <p>Polski rynek zaopatrujemy od 2006 roku.</p>
        <p>Tysiące wyprodukowanych różnego modelu wózków.</p>
    </div>
    <div class="row">
       <div class="large-3 columns">
           <div class="icon icon-1"><i class="fi-clipboard-pencil"></i></div>
           <div class="info">Wystawiamy oferty do dotacji UE</div>
       </div>
        <div class="large-3 columns">
            <div class="icon icon-2"><i class="fi-star"></i></div>
            <div class="info">Naszą dewizą jest solidność</div>
        </div>
        <div class="large-3 columns">
            <div class="icon icon-3"><i class="fi-torsos-all"></i></div>
            <div class="info">Zaopatrujemy grupy producenckie</div>
        </div>
        <div class="large-3 columns">
            <div class="icon icon-4"><i class="fi-home"></i></div>
            <div class="info">Produkujemy wózki różnego typu</div>
        </div>
    </div>
</section>